		<div style="padding: 36px 10px 10px;">
			<a class="bt" onclick="window.scrollTo(0,0);">Back to Top</a>
		</div>
	</div>

	<script type="text/javascript">
	function showTab(os) {
		$('.guide').css('display', 'none');
		$('#guide-'+os+ ', .stick').css('display', 'block');
		$('.button-picker li a').removeClass('selected');
		$('.button-picker li a[href="#' + os + '"]').addClass('selected');
	}

	if (document.location.hash && document.location.hash.length > 1)
	{
		var split = document.location.hash.split('#');
		if (split && split[1] && $('#guide-'+split[1]).length > 0)
			showTab(split[1]);
	}

	$('.button-picker li a').click(function(){
		var item = $(this);
		var tag = item[0].href.split('#')[1];
		showTab(tag);
		//console.log(tag)
	});

	function initTooltip() {
		var tp = $('.tooltip');
		var opts = {duration:150, queue:false};
		$('.video-guide a').each(function(i){
			$(this).hover(function() {
				if ($(this)[0].className && $(this)[0].className.indexOf('unavailable') != -1) return;
				var pos = $(this).position();
				var parent = $($(this)[0].parentNode.parentNode).position();
				var x = pos.left+parent.left+50;
				var y = pos.top+parent.top+252+145;
				tp.css('left', x+'px');
				tp.css('top', y+'px');
				var msg = $(this).attr('data-title');
				setTimeout(function(){
					tp.css('display', 'block')
					$('.tooltip .inner').html(msg);
				}, 0);
			}, function() {
				tp.css('display', 'none');
			});
		});
	}

	initTooltip();

	</script>
</body>
</html>