<!-- webos guide start-->
<ul id="guide-webos" class="guide" style="display:none">		
	<li class="top"></li>
	<li class="bottom"></li>

	<li class="video-guide"><h3>Video Tutorials:</h3>
		<div class="video-container">
			<img title="video_image" src="images/v_palm.jpeg" alt="" />
			<div>
				<a rel="#voverlay" href="http://www.youtube.com/v/XEnAUbDRZfw?autoplay=1" title="PhoneGap and HP Palm webOS quick start video" onclick="pageTracker._trackEvent('Video', 'Play');" data-title="PhoneGap and HP Palm webOS quick start video"></a>
			</div>
			<div class="video-frame vf-top"></div><div class="video-frame vf-bottom"></div>
			<div class="video-frame vf-left"></div><div class="video-frame vf-right"></div>
		</div>
		<div class="video-container">
			<img title="video_image" src="images/v_palm2.jpeg" alt="" />
			<div>
				<a rel="#voverlay" href="http://www.youtube.com/v/wWoJfQw79XI?autoplay=1" title="How to convert iPhone app to a Palm" onclick="pageTracker._trackEvent('Video', 'Play');" data-title="How to convert iPhone app to a Palm"></a>
			</div>
			<div class="video-frame vf-top"></div><div class="video-frame vf-bottom"></div>
			<div class="video-frame vf-left"></div><div class="video-frame vf-right"></div>
		</div>
	</li>

	<li><h3>1. Requirements</h3>
		<ul>
			<li>Windows, OS X, or Linux</li>
		</ul>
	</li>

	<li><h3>2. Install SDK + PhoneGap</h3>
		<div class="sdk-img"><img src="images/sdk_virtualbox.png" alt=""/></div>
		<p class="sdk-p">Download and install <a href="http://www.virtualbox.org/">Virtual Box</a></p>
		<br/>
		<div class="sdk-img"><img src="images/os_palm.png" alt=""/></div>
		<p class="sdk-p">Download and install <a href="http://developer.palm.com/index.php?option=com_content&view=article&layout=page&id=1788&Itemid=321">webOS SDK</a></p>
		<br/>
		<div class="sdk-img"><img src="images/sdk_cygwin.png" alt=""/></div>
		<p class="sdk-p">Download and install <a href="http://www.cygwin.com/setup.exe">cygwin</a> (Windows only). Make sure you select "make" as it is not included by default</p>
		<br/>
		<div class="sdk-img"><img src="images/sdk_phonegap.png" alt=""/></div>
		<p style="display:table-cell;vertical-align:middle"><a href="/download">Download</a> the latest copy of PhoneGap and extract its contents</p>
	</li>

	<li><h3>3. Setup New Project</h3>
		<ul>
			<li>Open up terminal/cygwin and navigate to where you extracted your PhoneGap Download. Go into the webOS directory.</li>
		</ul>
	</li>

	<li><h3>4. Hello World</h3>
		<p>In phonegap/webOS/framework/www, open up index.html with your favourite editor. After the body tag add <code>&lt;h1&gt;Hello World&lt;/h1&gt;</code></p>
	</li>

	<li><h3>5A. Deploy to Simulator</h3>
		<ul>
			<li>Open up your Palm Emulator from your applications folder/start menu.</li>
			<li>Type <code>make</code> in your terminal/cygwin while in the webOS directory.</li>
		</ul>
	</li>

	<li><h3>5B. Deploy to Device</h3>
		<ul>
			<li>Make sure your device is in <a href="http://developer.palm.com/index.php?option=com_content&view=article&id=1552&Itemid=59#dev_mode">Developer Mode and plug it in.</a></li>
			<li>Type <code>make</code> in your terminal/cygwin while in the webOS directory.</li>
		</ul>
	</li>		

	<li><h3>Done!</h3>
		<p>You can also checkout more detailed version of this guide <a href="http://wiki.phonegap.com/w/page/16494781/Getting-Started-with-PhoneGap-webOS">here</a>.</p>
	</li>
</ul> 
<!-- webos guide end-->