<!-- symbian guide start-->
<ul id="guide-symbian" class="guide" style="display:none">		
	<li class="top"></li>
	<li class="bottom"></li>

	<li><h3>1. Requirements</h3>
		<ul>
			<li>Windows, OS X, or Linux</li>
		</ul>
		<p>There are also <a href="http://wiki.phonegap.com/w/page/16494811/PhoneGap-Symbian-%28Qt%29">QT for Symbian</a> and <a href="http://wiki.phonegap.com/w/page/16494782/Getting-Started-with-PhoneGap-Symbian-(WRT-on-Sony-Ericsson)">Symbian with Sony Ericsson</a> guides.</p>
	</li>

	<li><h3>2. Install SDK + PhoneGap</h3>
		<div class="sdk-img"><img src="images/sdk_cygwin.png" alt=""/></div>
		<p class="sdk-p">Download and install <a href="http://www.cygwin.com/setup.exe">cygwin</a> (Windows only). Make sure you select "make" as it is not included by default</p>
		<br/>
		<div class="sdk-img"><img src="images/sdk_phonegap.png" alt=""/></div>
		<p style="display:table-cell;vertical-align:middle"><a href="/download">Download</a> the latest copy of PhoneGap and extract its contents</p>
	</li>

	<li><h3>3. Setup New Project</h3>
		<ul>
			<li>In cygwin, navigate to where you extracted PhoneGap and go into the Symbian directory</li>
		</ul>
	</li>

	<li><h3>4. Hello World</h3>
		<p>Open up index.html located in phonegap/symbian/framework/www with your favourite editor. In the <code>body</code> tag, remove the line
			<code> "Build your phonegap app here! Dude!"</code> and add the line <code>&lt;h1&gt;Hello World&lt;/h1&gt;</code><br />
			In cygwin/terminal, type make. This will produce phonegap-symbian.wrt/app.wgz. 
		</p>
	</li>

	<li><h3>5A. Deploy to Simulator</h3>
		<ul>
			<li>For Mac or Linux you should install <a href="http://www.aptana.org/products/studio2/download">Aptana Studio</a> and <a href="http://www.forum.nokia.com/info/sw.nokia.com/id/00d62bd8-4214-4c86-b608-5f11b94dad54/Nokia_WRT_Plug_in_for_Aptana_Studio.html">Nokia WRT Plug-in for Aptana Studio</a>. This has a browser-based javascript emulator</li>
			<li>For Windows you can download the <a href="http://www.forum.nokia.com/info/sw.nokia.com/id/ec866fab-4b76-49f6-b5a5-af0631419e9c/S60_All_in_One_SDKs.html">S60 SDK</a> which includes the S60 Emulator</li>
			<li>Load the phonegap-symbian.wrt/app.wgz file into the emulator.</li>
		</ul>
	</li>

	<li><h3>5B. Deploy to Device</h3>
		<ul>
			<li>Load the phonegap-symbian.wrt/app.wgz file into the device using bluetooth or email.</li>
		</ul>
	</li>		

	<li><h3>Done!</h3>
		<p>You can also checkout more detailed version of this guide <a href="http://wiki.phonegap.com/w/page/16494780/Getting-Started-with-Phonegap-Nokia-WRT">here</a>.</p>
	</li>
</ul> 
<!-- symbian guide end-->